.offer-list {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 20px;

   .offer-row {
     width: 1000px;
     margin-left: auto;
     margin-right: auto;
   }
 }