
.icon-suitcase:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */