
.icon-guidedog:before { content: '\e800'; } /* '' */
.icon-t-shirt:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e802'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */