.page {
  .page__header {
    margin: 0 1rem;
    padding: 1rem 1rem 1rem 0;
    display: flex;
    align-items: flex-end;

    h4 {
      margin: 0 0 0 1rem;
      padding-bottom: 5px;
      border-bottom: 1px solid rgb(179, 179, 179);
      flex: 1;
    }
  }
}