.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.75);

    img {
        width: 5rem;
        height: auto;
    }
}