.category {
   margin-left: 150px;
   text-align: center;
   cursor: pointer;

   .category-name {
      display: block;
      margin-top: 4px;
      font-size: 20px;
   }

   &:hover {
      opacity: 0.7;
      transition: 0.3s;
   }

   &:first-child {
      margin-left: 0px;
   }

   i {
      font-size: 3rem;
   }
}


