@import '../../styles/variables';

.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.75);
  z-index: 1;
  background-color: $background-color;

  img {
    width: 5rem;
    height: auto;
  }
}
