.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid rgba(0,0,0,0.5);

  p {
    padding: 0;
    margin: 0;
  }
}
