.search {
  height: 340px;
  background-color: black;
  background-size: cover;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.85;

  .search-bar {
    min-width: 650px;
  }
}