.category-list {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 90px;

  .category-row {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
